body {
    background-color: black;
    color: white;
}

.whitespace { 
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitespace:hover {
    background-color: rgba(0, 0, 255, 0.5);
}

#game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,250px);
    gap: 15px;
    background-color: white;
    visibility:hidden;
}